/* ===== ALAP ===== */
body {
    background-color: #222;
    color: #fff;
    margin: 0;
}

/* ===== GOMBOK ===== */
button {
    background-color: #28a745;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #1f7d38;
}


