body
{
    background-color: white;
}
.dt
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
 .dtc 
{
    display: flex;
    flex-direction: column;
}
.dth
{

}
.dtdb
{
    display: flex;
    flex-direction: column;
}
.dtd
{

}
.bb
{
    background-color: blue;
    color: white;
}