#mapBefogo {
    height: 800px;
    width: 100%;
    margin: 20px 0;
}

#map{
    height: 500px;
    width: 800px;
    margin: auto;
}

#autocomplete {
    display: block;
    margin: auto;
    width: 400px;
}
