.survey-item{
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    min-width: 40px;
    text-align: center;
    cursor: pointer;
    position: relative;
    max-width: 200px;
    width: 100%;
}
.survey-item:hover{
    border: #00cc00 1px solid !important;
}

.secondary-title{
    margin-bottom: 25px;
}
.max-width-30{
    max-width: 30%;
}

.selected{
    background-color: grey;
    color: white;
    transform: scale(0.9);
}

.selected::after{
    content: '✓';
    position: absolute;
    top: -8px;
    right: -5px;
    color: #00cc00;
    font-size: 18px;
    font-weight: bold;
}